<head>
    <!-- <link rel="stylesheet" href="app.js">
    <link rel="stylesheet" href="index.js">
    <link rel="stylesheet" href="package.json">
    <link rel="stylesheet" href="style.css"> -->
    <meta charset="utf-8">
    <title>Express Demo with ES6 Render Templates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
</head>

<body>
    <nav class="navbar main-nav is-dark" role="navigation aria-label" aria-label="main navigation">
        <div class="navbar-start">
            <a class="navbar-item" href='/'>Home</a>
            <a class="navbar-item" href='/nguyent'> Thomas Nguyen</a>
            <a class="navbar-item" href='/ceos'>Apple CEOs</a>
        </div>
    </nav>
    <h1 class="container">${title}</h1>
    <main class="container">${partial}</main>

</body>
</html>